body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.success {
	border: 6px solid green;
	background: lightgray;
	color: green;
	font-size: 26px;
	padding: 20px;
	margin: 30px;
}

.error {
	border: 6px solid red;
	background: lightgray;
	color: red;
	font-size: 26px;
	padding: 20px;
	margin: 30px;
}
